<a href="https://colab.research.google.com/github/Roohsharma11395/Heart-Disease-prediction/blob/main/Heart_disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# heart attack

In [ ]:
#import library

In [ ]:
import pandas as pd #read file
import numpy as np   # matrix multiplication
import matplotlib.pyplot as plt  # for ploting
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import  VotingClassifier
from sklearn.svm import SVC
from sklearn.metrics import mean_squared_error , accuracy_score, confusion_matrix

In [ ]:
#Load dataset

In [ ]:
df=pd.read_csv(r"/content/sample_data/HeartAttack (1).csv",na_values="?")

In [ ]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,NaN,NaN,NaN,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,NaN,NaN,NaN,0
2,29,1,2,140.0,NaN,0.0,0.0,170.0,0.0,0.0,NaN,NaN,NaN,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,NaN,NaN,6.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,NaN,NaN,NaN,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 14 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         294 non-null    int64
 1   sex         294 non-null    int64
 2   cp          294 non-null    int64
 3   trestbps    293 non-null    float64
 4   chol        271 non-null    float64
 5   fbs         286 non-null    float64
 6   restecg     293 non-null    float64
 7   thalach     293 non-null    float64
 8   exang       293 non-null    float64
 9   oldpeak     294 non-null    float64
 10  slope       104 non-null    float64
 11  ca          3 non-null      float64
 12  thal        28 non-null     float64
 13  num         294 non-null    int64
dtypes: float64(10), int64(4)
memory usage: 32.3 KB

In [ ]:
df.isnull().sum()

age             0
sex             0
cp              0
trestbps        1
chol           23
fbs             8
restecg         1
thalach         1
exang           1
oldpeak         0
slope         190
ca            291
thal          266
num             0
dtype: int64

In [ ]:
df.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num
count,294.000000,294.000000,294.000000,293.000000,271.000000,286.000000,293.000000,293.000000,293.000000,294.000000,104.000000,3.0,28.000000,294.000000
mean,47.826531,0.724490,2.982993,132.583618,250.848708,0.069930,0.218430,139.129693,0.303754,0.586054,1.894231,0.0,5.642857,0.360544
std,7.811812,0.447533,0.965117,17.626568,67.657711,0.255476,0.460868,23.589749,0.460665,0.908648,0.338995,0.0,1.615074,0.480977
min,28.000000,0.000000,1.000000,92.000000,85.000000,0.000000,0.000000,82.000000,0.000000,0.000000,1.000000,0.0,3.000000,0.000000
25%,42.000000,0.000000,2.000000,120.000000,209.000000,0.000000,0.000000,122.000000,0.000000,0.000000,2.000000,0.0,5.250000,0.000000
50%,49.000000,1.000000,3.000000,130.000000,243.000000,0.000000,0.000000,140.000000,0.000000,0.000000,2.000000,0.0,6.000000,0.000000
75%,54.000000,1.000000,4.000000,140.000000,282.500000,0.000000,0.000000,155.000000,1.000000,1.000000,2.000000,0.0,7.000000,1.000000
max,66.000000,1.000000,4.000000,200.000000,603.000000,1.000000,2.000000,190.000000,1.000000,5.000000,3.000000,0.0,7.000000,1.000000

In [ ]:
df=df.drop(columns=["slope","ca","thal"],axis=1)

In [ ]:
df.describe

<bound method NDFrame.describe of      age  sex  cp  trestbps   chol  fbs  restecg  thalach  exang  oldpeak  \
0     28    1   2     130.0  132.0  0.0      2.0    185.0    0.0      0.0
1     29    1   2     120.0  243.0  0.0      0.0    160.0    0.0      0.0
2     29    1   2     140.0    NaN  0.0      0.0    170.0    0.0      0.0
3     30    0   1     170.0  237.0  0.0      1.0    170.0    0.0      0.0
4     31    0   2     100.0  219.0  0.0      1.0    150.0    0.0      0.0
..   ...  ...  ..       ...    ...  ...      ...      ...    ...      ...
289   52    1   4     160.0  331.0  0.0      0.0     94.0    1.0      2.5
290   54    0   3     130.0  294.0  0.0      1.0    100.0    1.0      0.0
291   56    1   4     155.0  342.0  1.0      0.0    150.0    1.0      3.0
292   58    0   2     180.0  393.0  0.0      0.0    110.0    1.0      1.0
293   65    1   4     130.0  275.0  0.0      1.0    115.0    1.0      1.0

     num
0             0
1             0
2             0
3             0
4             0
..          ...
289           1
290           1
291           1
292           1
293           1

[294 rows x 11 columns]>

In [ ]:
df=df.dropna()

In [ ]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,num
0,28,1,2,130.0,132.0,0.0,2.0,185.0,0.0,0.0,0
1,29,1,2,120.0,243.0,0.0,0.0,160.0,0.0,0.0,0
3,30,0,1,170.0,237.0,0.0,1.0,170.0,0.0,0.0,0
4,31,0,2,100.0,219.0,0.0,1.0,150.0,0.0,0.0,0
5,32,0,2,105.0,198.0,0.0,0.0,165.0,0.0,0.0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 261 entries, 0 to 293
Data columns (total 11 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         261 non-null    int64
 1   sex         261 non-null    int64
 2   cp          261 non-null    int64
 3   trestbps    261 non-null    float64
 4   chol        261 non-null    float64
 5   fbs         261 non-null    float64
 6   restecg     261 non-null    float64
 7   thalach     261 non-null    float64
 8   exang       261 non-null    float64
 9   oldpeak     261 non-null    float64
 10  num         261 non-null    int64
dtypes: float64(7), int64(4)
memory usage: 24.5 KB

In [ ]:
df["cp"].value_counts()

4    113
2     92
3     46
1     10
Name: cp, dtype: int64

In [ ]:
df=pd.get_dummies(df,columns=["cp","restecg"])

In [ ]:
df.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,num,cp_1,cp_2,cp_3,cp_4,restecg_0.0,restecg_1.0,restecg_2.0
0,28,1,130.0,132.0,0.0,185.0,0.0,0.0,0,0,1,0,0,0,0,1
1,29,1,120.0,243.0,0.0,160.0,0.0,0.0,0,0,1,0,0,1,0,0
3,30,0,170.0,237.0,0.0,170.0,0.0,0.0,0,1,0,0,0,0,1,0
4,31,0,100.0,219.0,0.0,150.0,0.0,0.0,0,0,1,0,0,0,1,0
5,32,0,105.0,198.0,0.0,165.0,0.0,0.0,0,0,1,0,0,1,0,0

In [ ]:
df=df.rename(columns={"num       ":"target"})
df.head()

,age,sex,trestbps,chol,fbs,thalach,exang,oldpeak,target,cp_1,cp_2,cp_3,cp_4,restecg_0.0,restecg_1.0,restecg_2.0
0,28,1,130.0,132.0,0.0,185.0,0.0,0.0,0,0,1,0,0,0,0,1
1,29,1,120.0,243.0,0.0,160.0,0.0,0.0,0,0,1,0,0,1,0,0
3,30,0,170.0,237.0,0.0,170.0,0.0,0.0,0,1,0,0,0,0,1,0
4,31,0,100.0,219.0,0.0,150.0,0.0,0.0,0,0,1,0,0,0,1,0
5,32,0,105.0,198.0,0.0,165.0,0.0,0.0,0,0,1,0,0,1,0,0

In [ ]:
numerical_cols=["age","trestbps","chol","thalach","oldpeak"]
cat_cols=list(set(df.columns)-set(numerical_cols)-{"target"})

In [ ]:
cat_cols

['restecg_1.0',
 'cp_2',
 'restecg_2.0',
 'cp_3',
 'sex',
 'cp_4',
 'exang',
 'restecg_0.0',
 'cp_1',
 'fbs']

In [ ]:
df_train,df_test=train_test_split(df,test_size=0.2,random_state=42)

In [ ]:
scaler=StandardScaler()
def get_features_and_target_arrays(df,numerical_cols,cat_cols,scaler):
  x_numeric_scaled=scaler.fit_transform(df[numerical_cols])
  x_categorical=df[cat_cols].to_numpy()
  x=np.hstack((x_categorical,x_numeric_scaled))
  y=df["target"]

  return x,y

In [ ]:
x_train,y_train=get_features_and_target_arrays(df_train,numerical_cols,cat_cols,scaler)

In [ ]:
#logistic regression
clf=LogisticRegression()
clf.fit(x_train,y_train)

LogisticRegression()

In [ ]:
x_test,y_test=get_features_and_target_arrays(df_test,numerical_cols,cat_cols,scaler)

In [ ]:
test_pred=clf.predict(x_test)

In [ ]:
mean_squared_error(y_test,test_pred)

0.16981132075471697

In [ ]:
accuracy_score(y_test,test_pred)

0.8301886792452831

In [ ]:
confusion_matrix(y_test, test_pred)

array([[27,  6],
       [ 3, 17]])

In [ ]:
clf2=SVC()
clf2.fit(x_train,y_train)
test_pred2=clf2.predict(x_test)
print(mean_squared_error(y_test,test_pred2))
print(accuracy_score(y_test,test_pred2))

0.18867924528301888
0.8113207547169812

In [ ]:
clf3=DecisionTreeClassifier()
clf3.fit(x_train,y_train)
test_pred3=clf3.predict(x_test)
print(mean_squared_error(y_test,test_pred3))
print(accuracy_score(y_test,test_pred3))

0.33962264150943394
0.660377358490566

In [ ]:
eclf=VotingClassifier(estimators=[('lr',clf),('svc',clf2),('dt',clf3)],voting='hard')

In [ ]:
eclf.fit(x_train,y_train)

VotingClassifier(estimators=[('lr', LogisticRegression()), ('svc', SVC()),
                             ('dt', DecisionTreeClassifier())])

In [ ]:
result=eclf.predict(x_test)

In [ ]:
print(mean_squared_error(y_test,result))
print(accuracy_score(y_test,result))

0.20754716981132076
0.7924528301886793